.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #3572EF, #3ABEF9);
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1px 0;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}